/*custom css*/

/*fonts*/
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik/Rubik-Black.ttf);
}

@font-face {
    font-family: Rajdhani;
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*bg image*/
body {
    background-image: url("../img/bg.png");
    height: 100%;
    overflow-x: hidden !important;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*two main desktop columns*/
.left-col {
    position: relative;
    padding-left: 18px;
    margin-top: 75%;
}

.left-col-content {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    gap: 17px;
    /* border: 1px solid red; */
}

.left-col-content p#first {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 50% */
    text-transform: uppercase;
}

.left-col-content p#second {
    color: #FFF;
    font-family: Rubik;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 130% */
    text-transform: uppercase;
}

.left-col-content p#third {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}

.left-col-content div#buttons {
    display: flex;
    width: fit-content;
    padding: 1px 0.005px 1px 1px;
    align-items: flex-start;
    gap: -1.005px;
    border-radius: 12px;
    border: 1px solid #FFF;
}

.left-col-content div#buttons button#register {
    min-width: 169.345px;
    padding: 12px 61.65px 12px 61.69px;
    border:none;
    border-radius: 12px;
    color: #3E3F5E;
    text-align: center;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}

.left-col-content div#buttons button#login {
    min-width: 169.345px;
    padding: 12px 51.6px 12px 51.74px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}


.right-col {
    margin-top: 30px;    
    padding-left: 30px;
    padding-right: 30px;
}

.right-col-content {
    /* border: 1px solid red; */
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background: #FFF;
    
}

.logo-wrapper {
    /* border: 1px solid black; */
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}

.logo-wrapper div#logo {
    width: 228px;
    height: 84px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-wrapper {
    /* border: 1px solid red; */
    margin: 0px 55px 0px 55px;
}


.input-wrapper {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .icon {
    margin-top: 30px;
    min-width: 60px;
    text-align: center;
  }
  
  .input-field-wrapper {
    margin-bottom: 35px;
  }

  .input-field {
    width: 100%;
    padding: 30px 20px 20px 20px;
    border-radius: 8px;
    border: 0.4px solid var(--text-grey, #787878);
    background: var(--my-grey, #EEE);
  }
  
  .input-field:focus {
    border: 1px solid #e6e4e4;
    border-radius: 5px;
  }
  
  #submit-btn {
    background-color:#C70202;
    padding: 20px 0px 20px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%; /* 21.68px */
  }

  #regform-left-header{
    background-color:#C70202;
    padding: 20px 0px 20px 0px;
    border: none;
    width: 100%;
    opacity: 0.9;
    border-radius: 3px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%; /* 21.68px */
  }

  #regform-right-header{
    background: var(--my-grey, #EEE);
    padding: 20px 0px 20px 0px;
    border: none;
    width: 100%;
    opacity: 0.9;
    border-radius: 3px;
    color: var(--text-grey, #787878);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%; /* 21.68px */
  }
  
  #submit-btn:hover {
    opacity: 1;
  }

  #forgot-password {
    color: #C70202;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%; /* 21.68px */
    text-decoration: none;
  }

  #rem-me {
    color:#2F2F2F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 21.68px */
  }

  #check {
    width: 18px;
    height: 17px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
  }

  #check:checked{
    background-color: #C70202;
  }

  .form-col-wrapper {
    position: relative;
  }

  .left-inp-label {
    position: absolute;
    left: 32px;
    color: var(--black, #2F2F2F);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%; /* 16.26px */
  } 

  .right-inp-label {
    position: absolute;
    left: 32px;
    color: var(--black, #2F2F2F);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%; /* 16.26px */
  } 


  /*Registration types*/
  .reg-type {
    display: flex;
    width: 100%;
    padding: 18px 70px 18px 70px;
    align-items: center;
    gap: -1.005px;
    border-radius: 10px;
    background: #FFF;
  
  }

  .reg-text {
    color: var(--black, #2F2F2F);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 21.68px */
  }